.profile__button-edit {
    margin-left: 18px;
    padding: 0;
    text-align: center;
    background-color: transparent;
    border: 1px solid green;
    /* border: none; */
    transition: opacity .15s;
    box-sizing: border-box;
}

.profile__button-edit:hover {
    opacity: .6;
}