.profile {
    color: #fff;
    max-width: 880px;
    margin: 40px auto 50px;
    display: grid;
    grid-template-areas: 
        'profile__info profile__add-button';
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .profile {
        grid-template-areas: 
            'profile__info'
            'profile__add-button';
        justify-items: center;
        justify-content: center;
        max-width: 282px;
        margin: 42px auto 36px;
    }
}