.profile__description-text {
    padding-left: 30px;
    flex-direction: row;
}

@media screen and (max-width: 767px) {
    .profile__description-text {
        padding: 0;
        text-align: center;
    }
}