.header {
    border-bottom: 1px solid #545454;
    max-width: 880px;
    margin: 0 auto;
    padding: 45px 0 41px;
}

@media screen and (max-width: 320px) {
    .header {
        border-bottom: 1px solid #545454;
        min-width: 320px;
        padding: 0;
    }
}