.content {
    background-color: #000000;
    max-width: 880px;
    margin: 0 auto;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    justify-content: center;
    display: flex;
    flex-direction: column;
}