.popup__button-exit {
    display: inline-block;
    border: none;
    color: #fff;
    position: absolute;
    top: -41px;
    right: -34px;
    background-color: transparent;
    cursor: pointer;
    width: 32px;

}

.popup__button-exit:hover {
    opacity: .6;
}

@media screen and (max-width: 767px) {
    .popup__button-exit {
        top: -36px;
        right: 0;
        width: 20px;
    }
}
