.profile__text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    /* max-width: 294px; */
    width: 100%;
    padding-left: 30px;
    flex-direction: row;
}

@media screen and (max-width: 767px) {
    .profile__text {
        padding: 0;
        text-align: center;
    }
}