.elements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 17px;
    justify-content: center;
    max-width: 880px;
    margin: 0 auto;
}

@media screen and (max-width: 767px) {
    .elements {
        grid-template-columns: 282px;
    }
}
