.popup-form {
    border-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    width: 100%;
    margin: 54px 0 30px;
    font-size: 14px;
    line-height: 16.94px;
    padding: 0 0 13px 0;
}

.popup-form:focus {
    forced-color-adjust: none;
}

@media screen and (max-width: 767px) {
    .popup-form {
        margin-top: 75px;
        max-width: 238px;
    }
}
