.popup-form {
    border-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    width: 352px;
    padding: 0 0 13px 0;
}

@media screen and (max-width: 767px) {
    .popup-form {
        max-width: 238px;
    }
}
