.profile__text-name {
    font-size: 42px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    line-height: 48px;
    font-weight: 500;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .profile__text-name {
        font-size: 27px;
        line-height: 32.68px;
        padding: 26px 0 14px;
    }
}