.popup__container_button_exit {
    display: block;
    border: none;
    color: #fff;
    position: absolute;
    top: -68px;
    right: -52px;
    font-size: 68px;
    background-color: transparent;
    cursor: pointer;
}

.popup__container_button_exit:hover {
    opacity: .6;
}

@media screen and (max-width: 767px) {
    .popup__container_button_exit {
        top: -48px;
        right: 0;

    }
}
