.photo__trash {
    position: absolute;
    top: 20px;
    right: 20px;
    min-height: 18px;
    min-width: 19px;
    padding: 0;
    background-color: transparent;
    background-image: url('../../../images/Trash.svg');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    transition: opacity .15s;
    border: none;
}

.photo__trash:hover {
    opacity: .6;
}
