.profile__info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .profile__info {
        display: flex;
        flex-direction: column;
        max-width: 282px;
    }
}