.image {
    position: fixed;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    /* justify-content: center; */
    top: 0;
    left: 0;
    max-width: 75vw;
    max-height: 75vh;
    width: 100%;
    object-fit: contain;
    border: 1px solid #fff;
}

@media screen and (max-width: 767px) {
    .image {
        border: 1px solid red;
    }
}