.photo {
    display: grid;
    grid-template-columns: repeat(3, 282px);
    grid-gap: 17px;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    .photo {
        grid-template-columns: 282px;
    }
}